@import "bootstrap/scss/grid";

@media (min-width: 1200px) {
  .container {
    max-width: 1500px !important;
    min-height: 650px;
  }
}

* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #EAFDFC;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.box>*:first-child {
  align-self: stretch;
}

#content {
  padding: 0;
  margin-top: 35px;
  margin-bottom: 50px;
  height: 100% !important;
  display: inline-block;
	vertical-align: top;
	overflow: auto;
  width: 100%;
}

.container {
  display: flex;
  margin-left: 0 !important;
  padding-left: 0 !important;
}

header {
  height: 3rem;
  background-color: #82AAE3;  
}

header .theader {
  width: 1330px;
  height: 2rem;
  float: left;
  text-align: center;
  padding-top: 4px;
}

header .theader p {
  color: whitesmoke;
  font-size: 1.5rem;
  font-weight: 600;
}

header .dropdown .dropdown-menu a {
  color: white;
}

footer {
  background-color: #82AAE3;
  color: whitesmoke;
  bottom: 0;
  width: 100%;
  padding: 10px 18px;
}


/* ===================================== */
/* .dropdown start */

.dropbtn {
  background-color: #82AAE3;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #91D8E4;
  text-decoration: none;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #91D8E4;
}

/* .dropdown end */
/* ===================================== */
/* Home start*/

.container-content {
  background-color: #f5f5f5;
  padding: 20px 30px;
  padding-bottom: 40px;
  border-radius: 10px;
}

.title {
  margin-bottom: 50px;
}

.action-home .btn {
  width: 15rem;
  height: 3.5rem;
  margin-right: 10px;
}

.action-home .btn a {
  color: white;
  text-decoration: none;
}

.column {
  float: left;
  width: 33.33%;
  padding: 50px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: white;
}

.containerTab {
  padding: 20px;
  margin-top: 20px;
  color: black;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Closable button inside the container tab */
.closebtn {
  float: right;
  color: black;
  font-size: 35px;
  cursor: pointer;
}

/* Home end*/
/* ===================================== */
/* petunjuk pengisian start */

.guide ol li {
  margin-left: 20px;
  font-size: 18px;
  margin-bottom: 4px;
}

.guide ol li a {
  color: black;
  font-size: 18px;
  text-decoration: none;
}

/* .container-guide {
  border-top: 1px solid black;
} */

.container-guide .hint-box .title-box p {
  font-weight: bold;
}

.container-guide .hint-box .isi p {
  margin-left: 20px;
  font-style: italic;
}

/* petunjuk pengisian end */
/* ===================================== */
/* summary data start */

.container-sum {
  display: flex;
  flex-direction: column;
}

.row-text-center {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));

}

.row .col .title-row {
  margin-bottom: 50px;
}

.counter {
  background-color:#f5f5f5;
  padding: 20px 0;
  border-radius: 5px;
  text-align: center;
}

.count-title {
  font-size: 40px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.count-text {
  font-size: 13px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.fa-2x {
  margin: auto;
  color: #4ad1e5;
}

.col .counter p {
  font-size: 18px;
}

/* summary data end */
/* ===================================== */
/* login & register start */

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

/* login & register end */
/* ===================================== */
/* profile pasien start */

.action-home {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 80px auto 80px; 
  column-gap: 10px;
  row-gap: 15px;

}

/* profile pasien end */